$color-theme = green;
.mint-cell
   background-color $color-theme
.mint-radiolist .mint-cell
   padding-left 1rem
.mint-radiolist .mint-cell
   padding-left 1rem
   background url("./zhifubao.png") 
   background-repeat no-repeat
   background-position center left

.mint-radiolist .mint-cell:last-child
   padding-left 1rem
   background url("./weixin.png") 
   background-repeat no-repeat
   background-position center left